/* < !-- Настя-- !> */

.main-page {
  display: grid;
  grid-template-rows: 110px;
  grid-template-areas:
    "header"
    "main"
    "services"
    "about-company"
    "amount";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.header__logo {
  width: 3%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.nav__item {
  color: #c3b9b5;
  text-decoration: none;
  font-family: "Futura";
  font-weight: bold;
  font-size: 0.8em;
}

.header__geo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8%;
  color: #ffc59e;
  font-family: "Futura";
  font-weight: bold;
  font-size: 0.8em;
}

.header__geo-img {
  width: 14%;
}

.main {
  grid-area: main;
  height: 70vh;
  display: grid;
  grid-template-columns: 15% 1fr 1fr;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__img {
  position: absolute;
  width: 25px;
  left: 6.7%;
  top: 18.5%;
}

.left__number {
  padding: 12px;
  font-family: "Futura";
  font-size: smaller;
  font-weight: bold;
  color: #c3b9b5;
}

.left__number_one {
  color: #080606;
  margin-top: 10%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info__title {
  font-family: "SchoolBook";
  font-size: 3em;
  font-weight: lighter;
}

.button {
  background-color: #ffc59e;
  width: 25%;
  height: 20%;
  border: 0;
  border-radius: 1.2em;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.button__schedule {
  color: #ffffff;
  font-family: "Futura";
  font-weight: bolder;
  font-size: 1.25em;
}

.info__paw {
  width: 3.4%;
  position: absolute;
  top: 75.5%;
  left: 18%;
  z-index: -1;
}

.info__social {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-bottom: 15px;
}

.info__social-img {
  width: 15%;
  cursor: pointer;
}

.cat-dog {
  width: 87%;
}

.phone {
  position: absolute;
  color: #59443f;
  font-family: "Futura";
  font-weight: bold;
  right: 10%;
  top: 75%;
}

.services {
  grid-area: services;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  border-radius: 1.5em;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  grid-template-areas:
    "card-title card-img"
    "card-subtitle card-img";
}

.card__title {
  display: flex;
  align-items: flex-start;
  font-family: "SchoolBook";
  font-size: xx-large;
  color: #59443f;
  padding: 20px;
  grid-area: card-title;
}

.card__subtitle {
  display: flex;
  align-items: flex-end;
  font-family: "Futura";
  color: #59443f;
  padding-left: 25px;
  padding-bottom: 15px;
  grid-area: card-subtitle;
}

.card__img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  padding: 15px;
  grid-area: card-img;
}

.card__animal {
  width: 80%;
  height: 55%;
}

.card__animal_nevr {
  width: 99%;
}

/* для репродуктологии, офтальмологии и эндокринологии изменила сетку гридов, но из-за одинакового положения ячейки назвала одинаково - с модиком oft, потому что первым делала офтальмологию */
.card_oft,
.card_rep,
.card_endo {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-template-areas:
    "title-oft title-oft"
    "subtitle-oft img-oft";
}

.card__title_oft,
.card__title_rep,
.card__title_endo {
  grid-area: title-oft;
}

.card__subtitle_oft,
.card__subtitle_rep,
.card__subtitle_endo {
  grid-area: subtitle-oft;
}

.card__img_oft,
.card__img_rep,
.card__img_endo {
  grid-area: img-oft;
}

.card__animal_oft {
  height: 110%;
}

.card__animal_cardio {
  width: 180%;
}

.card__animal_teeth {
  width: 180%;
}

.card__animal_rep {
  width: 100%;
  height: 100%;
}

.card__animal_smth {
  width: 100%;
}

.card__animal_lab {
  width: 150%;
}

.card__animal_endo {
  height: 100%;
  width: 100%;
}

.about-company {
  grid-area: about-company;
  border: 1px solid black;
}

.amount {
  grid-area: amount;
  border: 1px solid black;
}

@font-face {
  font-family: Futura;
  src: url(../FuturaNewBook-Reg.ttf);
}

@font-face {
  font-family: SchoolBook;
  src: url(../SchoolBook.ttf);
}

/* < !-- Маша-- !> */
.container {
  margin-top: 50px;
}
.section {
  height: 1121px;
  margin-left: 140px;
  margin-right: 140px;
}

.section__title {
  text-align: center;
  font-family: "SchoolBook";
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.section__info-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
}

.advantage {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.advantage__title {
  font-family: "SchoolBook";
  font-size: 30px;
}

.advantage__info-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.advantage__image {
  width: 70px;
  height: 60px;
  margin-right: 20px;
  align-content: center;
}

.advantage__text {
  font-family: "Futura";
  font-size: 20px;
}

.section_orange {
  background-color: #ffc59e;
  height: 1100px;
  width: 100100;
}

.section__mobile-app {
  display: flex;
  flex-direction: column;
  width: 850px;
  margin-left: 140px;
}

.section__text {
  font-family: "Futura";
  font-size: 30px;
  color: #ffff;
  margin-top: 200px;
}

.section__heading {
  font-family: "SchoolBook";
  font-size: 80px;
  color: #ffff;
}

.section__icon-box {
  display: flex;
  flex-direction: row;
}

.section__mobile-icon1 {
  height: 48px;
  width: 167px;
  margin-top: 20px;
  margin-right: 20px;
}

.section__mobile-icon2 {
  height: 68px;
  width: 190px;
}

.section__pic1 {
  position: absolute;
  margin-left: 825px;
  margin-top: 380px;
  z-index: 1;
}

.section__pic2 {
  position: absolute;
  margin-left: 1120px;
  margin-top: 230px;
  z-index: 2;
}
.section__contact-box {
  display: inline-flex;
  margin-top: 150px;
  justify-content: center;
}
.section__contact {
  width: 480px;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact__title {
  font-family: "SchoolBook";
  font-size: 30px;
}

.section__map-img {
  height: 450px;
  width: 800px;
  margin-top: 280px;
  margin-left: 140px;
}
.contact-info {
  display: inline-flex;
}
.contact-info__icon {
  height: 25px;
  width: 21px;
  margin: 10px 30px 10px 10px;
}
.contact-info__text {
  font-family: "Futura";
  font-size: 20px;
}
.footer {
  background-color: #59443f;
  height: 630px;
  width: 100%;
  display: inline-flex;
}
.footer__info {
  margin-top: 100px;
  margin-left: 140px;
}
.footer__logo {
  height: 90px;
  width: 325px;
}
.footer__text {
  color: #ffff;
  font-family: "Futura";
  font-size: 20px;
  margin-left: 110px;
  width: 200px;
  margin-top: 40px;
  margin-right: 100px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  margin-top: 240px;
}
a {
  text-decoration: none;
  color: #ffff;
  font-family: "Futura";
  font-size: 20px;
  margin-right: 100px;
  padding: 10px;
  width: 200px;
}
.footer__social {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 50px;
}
.footer__link {
  padding: 10px;
  cursor: pointer;
  margin-top: 25px;
}
.footer__e-mail {
  display: flex;
  flex-direction: column;
}
.footer__app-phone {
  margin-right: 20px;
  cursor: pointer;
}
.footer__author {
  color: #ffff;
  font-family: "Futura";
  font-size: 20px;
  margin-top: 100px;
}
.footer__author_black {
  color: black;
  margin-top: 100px;
}

/* < !-- Катя-- !> */
ul {
    padding-left: 0;
  }
.wrapper-therapy {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "left right";
    width: 80vw;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    grid-column-gap: 5%;
  }
  .wrapper-therapy__col-1{
    grid-area: left;
    width: 35%;
    padding-top: 10%;
  }

.wrapper-therapy__col-1__heading{
    font-family: "SchoolBook";
    font-size: 80px;
  }
.wrapper-therapy__col-1__item{
    font-family: "Futura";
    font-size: 20px;
    color: #C3B9B5;
    width: 400px;
    margin-top: 20%;
}

    .wrapper-therapy__col-2{
        grid-area: right;
        width: 80%;
    }

.wrapper-therapy__col-2__back{
    margin-bottom: 5%;
}
  .pagination {
    color: #FFC59E;
    grid-area: pagination;
    font-family: "Futura";
    font-size: 30px;
    text-decoration: none;
  }

    .record-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "heading heading heading "
    "card1 card2 card3";
    gap: 15px;
    height: 25vh;
    margin-bottom: 10vh;
  }
  .record-section__heading{
    grid-area: heading;
    font-family: "SchoolBook";
    font-size: 30px;
    font-style: normal;
  }
  .record-section__card{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "circl name"
    "circl topic"
    "circl data";
    border-radius: 15px;
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    width: 21em;
    height: 150px;
    padding: 20px;
  }
  .record-section__card1{
    grid-area: card1;
  }
  .record-section__card2{
    grid-area: card2;
  }
  .record-section__card3{
    grid-area: card3;
  }
  .record-section__card__circle {
    border-radius: 50%;
    background-color: #C3B9B5;
    width: 50px;
    height: 50px;
    grid-area: circl;}
    .record-section__card__name{
    grid-area: name;
    font-family: "Futura";
    font-weight: bold;
    font-size: 24px;
    }
    .record-section__card__topic{
grid-area: topic;
font-family: "Futura";
font-size: 20px;
color: #C3B9B5;
margin-bottom: 5%;
    }
    .record-section__card__data{
grid-area: data;
font-family: "Futura";
font-size: 20px;
color: #C3B9B5;
    }

    .about-therapy__heading{
        font-family: "SchoolBook";
        font-size: 30px;
    }
    .about-therapy__Paragraph1, .about-therapy__Paragraph2{
    margin-top: 5vh;
    font-family: "Futura";
    font-size: 20px;
    color: #59443F;
    }
    .about-therapy__item{
        font-family: "Futura";
    font-size: 20px;
    color: #59443F;
    list-style-type: none;
    }

    .subtitle-1__heading{
        font-family: "SchoolBook"; 
        font-size: 30px;
        margin-top: 10vh;
    }
    .subtitle-1__Paragraph1, .subtitle-1__Paragraph2, .subtitle-1__Paragraph3, .subtitle-1__Paragraph4{
        font-family: "Futura";
        font-size: 20px;
        color: #59443F;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
    .subtitle-1__img{
        margin-bottom: 5vh;
    }

    .subtitle-1__item{
        list-style-type: none;
        font-family: "Futura";
        font-size: 20px;
        color: #59443F;
    }
    .subtitle-2__heading{
        font-family: "SchoolBook"; 
        font-size: 30px;
        margin-top: 10vh;
    }
    .subtitle-2__Paragraph1, .subtitle-2__Paragraph2, .subtitle-2__Paragraph3, .subtitle-2__Paragraph4{
        font-family: "Futura";
        font-size: 20px;
        color: #59443F;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }

    .prices__heading{
        font-family: "SchoolBook"; 
        font-size: 30px;
        margin-top: 10vh;
    }
    .prices__number, .prices__items{
        font-family: "Futura";
        font-size: 20px;
        color: #59443F;
        margin-bottom: 5vh;
        margin-top: 5vh;
        
    }
    .prices__number{
        display: flex;
        justify-content: space-between;
        margin-top: 10vh;
    }
     .prices__items__item{
        padding-left: 5%;
        vertical-align: middle;
        line-height: 48px;
    }
    #prices__item{
        background: #f3efee;
        border-radius: 15px;
        height: 48px;
    }
    .prices__number2{
        display: flex;
        justify-content: end;
        font-family: "Futura";
        font-size: 20px;
        color: #59443F;
        margin-top: 5vh;
        }
        .prices__number_lite{
            color: #EDE9E8;
        }

        .wrapper-servieces{
            background: #EDE9E8;
        }
        .ther-services{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "services__heading services__heading services__heading services__heading"
            "services__card1 services__card2 services__card3 services__card4";
            padding-left: 8%;
            padding-bottom: 6%;
            padding-right: 15%;
             }
        .ther-services__heading{
        grid-area: services__heading;
        font-family: "SchoolBook";
        font-size: 30px;
        align-self: center;
        }
        .ther-services__card{
            background-color: white;
            border-radius: 15px;  
            width: 18em;
            padding: 6%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "ther-services__card__heading ther-services__card__img"
            "ther-services__card__item ther-services__card__img";
            
        }
    .ther-services__card1{
        grid-area: services__card1;
    }
    .ther-services__card2{
        grid-area: services__card2;
    }
    .ther-services__card3{
    grid-area: services__card3;
    }
    .ther-services__card4{
        grid-area: services__card4;
    }
    .ther-services__card__heading{
        font-family: "SchoolBook";
        font-size: 30px;
        color: #59443F;
        grid-area: ther-services__card__heading;
    }
    .ther-services__card__item{
        font-family: "Futura";
        font-size: 20px;
        color: #59443F; 
        grid-area: ther-services__card__item;
        margin-top: 50%;
    }
    .ther-services__card__img{
        grid-area: ther-services__card__img;
        margin-top: 55%;
        margin-left: 25%;
    }